Data/01Aug25_final_doc_inputs_fc.csv
Data/01Aug25_final_doc_inputs_fc.csv
Data/bathy_summary_stats.csv
Data/chemistry_2013_2021.csv
Data/Inflow_2013_2021.csv
Data/inflow_daily_fc.csv
Data/inflow_daily.csv
Data/ManualDischarge_2019_2021.csv
Data/Table_S5_model_summary_fc.csv
Data/Table_S6_model_contributions_fc.csv
Figs/Fig_S5_Epi_model_FC.jpg
Figs/Fig_S6_Hypo_Model_FC.jpg
Figs/Fig5_Model_Summary_FC.jpg
Data/inflow_daily_fc.csv
Data/inflow_daily.csv
